:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --min-width: 320px;
  --min-height: 100vh;
  --title-bar-height: 40px;
  --tab-header-width: 10rem;
  --main-nav-width: 60px;
  --main-menu-width: 300px;
  --main-menu-transition-time: 500ms;

  --widget-spacing-top: 5vh;
  --widget-spacing-bottom: 5vh;
  --widget-spacing-left: 15vw;
  --widget-spacing-right: 15vw;

  --brand-color: #4e2482;
  --accent-color: #213547;

  --color: #ffffffde;
  --background-color: #242424;

  --button-hover-border-color: #646cff;
  --button-background-color: #1a1a1a;

  --border-color: #e9e9e9;
  --border-subtile-color: #000000;

  --anchor-color: #646cff;
  --anchor-hover-color: #535bf2;

  --widget-border-radius: 1rem;

  --titlebar-element-border-radius: 5px;
  --titlebar-element-padding: 5px;

  /*force graph*/
  --node-color: #5f5f5f;
  --node-highlight-color: #7f6df2;
  --node-blendout-color: #8f8f8f;
  --link-color: #b5b5b5;
  --link-highlight-color: #6657c8;
  --link-blendout-color: #3f3f3f;
  --label-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  color: var(--color);
  height: 100vh;
  width: 100vw;
  background: linear-gradient(
    200.96deg,
    #c6ac2850 -29.09%,
    #dd578950 51.77%,
    #7a2c9e50 129.35%
  );
  font-family: sans-serif;

  background: linear-gradient(to bottom, #0d0d0d, #1a1a1a);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='200' height='200' viewBox='0 0 200 200' fill='none'%3E%3Crect width='200' height='200' fill='%231E1E1E'/%3E%3Cg clip-path='url(%23clip0_0_1)'%3E%3Cpath d='M24.5 140.5C72.5 125 100.678 80.5 124.5 43.5C148.322 6.5 175.5 -4.5 200 -13V203H-9L24.5 140.5Z' fill='%235A4FFF'/%3E%3Cg filter='url(%23filter0_d_0_1)'%3E%3Cpath d='M-4 81C60.1595 121.026 70 218 239.029 191.929C338.184 230.812 404.288 220.519 388.734 175.919V199.935H-4V81Z' fill='%238F2D56'/%3E%3C/g%3E%3C/g%3E%3Cdefs%3E%3Cfilter id='filter0_d_0_1' x='-8' y='81' width='403' height='143' filterUnits='userSpaceOnUse' color-interpolation-filters='sRGB'%3E%3CfeFlood flood-opacity='0' result='BackgroundImageFix'/%3E%3CfeColorMatrix in='SourceAlpha' type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0' result='hardAlpha'/%3E%3CfeOffset dy='4'/%3E%3CfeGaussianBlur stdDeviation='2'/%3E%3CfeComposite in2='hardAlpha' operator='out'/%3E%3CfeColorMatrix type='matrix' values='0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.25 0'/%3E%3CfeBlend mode='normal' in2='BackgroundImageFix' result='effect1_dropShadow_0_1'/%3E%3CfeBlend mode='normal' in='SourceGraphic' in2='effect1_dropShadow_0_1' result='shape'/%3E%3C/filter%3E%3CclipPath id='clip0_0_1'%3E%3Crect width='200' height='200' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E");
  background-size: cover;
  background-position: top left, center bottom;
  background-blend-mode: multiply;
}

.titlebar {
  position: fixed;
  top: 0;
  left: 0;
  height: var(--title-bar-height);
  width: calc(var(--main-nav-width) + var(--main-menu-width));
  display: flex;
  align-items: center;
  z-index: 2;
}

.titlebar .buttons {
  display: grid;
  grid-template-columns: repeat(4, var(--main-nav-width)) calc(
      100% - calc(4 * var(--main-nav-width))
    );
}

.titlebar button {
  border: none;
  background-color: transparent;
  fill: var(--color);
  width: 100%;
  min-height: var(--title-bar-height);
}

.titlebar button:hover {
  background-color: #ffffff20;
}

.titlebar svg {
  height: 22px;
  font-size: 0px;
}

.main-menu {
  position: fixed;
  top: var(--title-bar-height);
  left: var(--main-nav-width);
  height: 100%;
  padding: 10px 0;
  transition: all 200ms;
  z-index: 2;
}

.main-menu.collapsed {
  width: 0px;
  opacity: 0;
  pointer-events: none;
}

.main-nav {
  position: fixed;
  top: var(--title-bar-height);
  left: 0;
  display: flex;
  justify-content: center;
  width: var(--main-nav-width);
  height: calc(100vh - var(--title-bar-height));
  padding: 10px 0;
  z-index: 2;
}

.main-nav ul {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.main-nav ul > li:nth-last-child(3) {
  flex-grow: 1;
}

button {
  background-color: transparent;
  fill: var(--color);
  border: none;
}

.tab-manager {
  position: fixed;
  top: 0;
  left: var(--main-nav-width);
  width: calc(100vw - var(--main-nav-width));
  height: 100vh;
}

.tab-manager .tab-titles {
  position: fixed;
  left: calc(var(--main-nav-width) + var(--main-menu-width));
  top: 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: var(--title-bar-height);
  width: calc(100vw - var(--main-nav-width) - var(--main-menu-width));
  -webkit-app-region: drag;
  z-index: 2;
}

.tab-manager > .tab-titles > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 5px 5px 0;
  gap: 5px;
  -webkit-app-region: no-drag;
  border-radius: 5px;
}

.tab-manager > .tab-titles > div[data-active='true'] {
  font-weight: 700;
  padding: 5px 5px 0 0;
  margin-top: 5px;
  background-color: #ffffff20;
}

.tab-manager > .tab-titles > div > p {
  cursor: pointer;
}

.tab-manager > .tab-titles button {
  cursor: pointer;
}

button.create-tab {
  -webkit-app-region: no-drag;
}

.tab-manager > .tabs {
  position: fixed;
  top: var(--title-bar-height);
  left: var(--main-nav-width);
  transition: left 200ms;
}

.tab-manager > .tabs.menu-expanded {
  left: calc(var(--main-nav-width) + var(--main-menu-width));
}

.tab-manager > .tabs > .tab {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(100vw - var(--main-nav-width));
  height: calc(100vh - var(--title-bar-height));
  transition: width 200ms;
}

.tab-manager > .tabs > .tab[data-active='false'] {
  display: none;
}

.tab-manager > .tabs.menu-expanded > .tab {
  width: calc(100vw - var(--main-nav-width) - var(--main-menu-width));
}

svg {
  height: 30px;
  width: 100%;
  fill: var(--color);
}

/*
*
*
*
*
*
*
*
*
*
*
*
*
*/
.widget {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100vw - var(--widget-spacing-left) - var(--widget-spacing-right));
  height: calc(
    100vh - var(--widget-spacing-top) - var(--widget-spacing-bottom)
  );
  position: absolute;
  top: var(--widget-spacing-top);
  left: var(--widget-spacing-left);
  max-width: calc(
    100vw - var(--widget-spacing-left) - var(--widget-spacing-right)
  );
  max-height: calc(
    100vh - var(--widget-spacing-top) - var(--widget-spacing-bottom)
  );
  width: 100%;
  height: 20vh;
  background-color: transparent;
  transition: 200ms ease-in-out;
  border: 1px solid var(--border-subtile-color);
  border-radius: var(--widget-border-radius);
  padding: var(--widget-border-radius);
  background-color: #000000d1;
}

.widgets > * {
  top: -100vh;
  left: var(--widget-spacing-left);
  transition: 500ms;
}

.widgets[data-widget-visible='help'] > div.widget.help {
  top: var(--widget-spacing-top);
}
.widgets[data-widget-visible='settings'] > div.widget.settings {
  top: var(--widget-spacing-top);
}
.widgets[data-widget-visible='link'] > div.widget.link {
  top: var(--widget-spacing-top);
}
.widgets[data-widget-visible='search'] > div.widget.search {
  top: var(--widget-spacing-top);
}

.widget > .widget-titlebar {
  display: flex;
  justify-content: space-between;
}

.widget[data-pos='left'] {
  --widget-spacing-left: 1rem;
  --widget-spacing-right: 40rem;
}
.widget[data-pos='right'] {
  --widget-spacing-right: 1rem;
  --widget-spacing-left: 40rem;
}

.widget > .widget-titlebar > .move-menu {
  display: flex;
  justify-content: space-between;
  width: 4rem;
  gap: 2px;
}

.widget > .widget-titlebar > .move-menu > button {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #ffffff60;
  background-color: #00000060;
  transition: 500ms;
}

.widget > .widget-titlebar > .move-menu > button[data-highlighted='true'] {
  display: none;
}

details.dir > summary {
  list-style: none;
  display: flex;
}

details.dir > summary::before {
  content: '>';
  display: inline-block;
  margin-right: 0.5em;
  transform: rotate(0deg);
  transition: transform 0.1s;
}

details.dir[open] > summary::before {
  transform: rotate(90deg);
}

.focused {
  background-color: red;
}

.file,
.dir > summary {
  display: flex;
}

.file > .indicators,
.dir .indicators {
  display: flex;
}

.file {
  padding-left: 2rem;
}
.dir {
  padding-left: 1rem;
}

.file > .indicators > p,
.dir .indicators > p {
  width: 1rem;
  height: 1rem;
  font-size: 1rem;
  font-weight: 900;
  display: flex;
  justify-content: center;
}

.dir svg,
.file svg {
  height: 1.5rem;
  width: 100%;
}
