:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #ffffffde;
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --min-width: 320px;
  --min-height: 100vh;
  --title-bar-height: 40px;
  --tab-header-width: 7rem;
  --main-nav-width: 60px;
  --main-menu-width: 300px;

  --brand-color: #4e2482;
  --accent-color: #213547;

  --color: #ffffffde;
  --background-color: #242424;

  --button-hover-border-color: #646cff;
  --button-background-color: #1a1a1a;

  --anchor-color: #646cff;
  --anchor-hover-color: #535bf2;

  /*force graph*/
  --node-color: #5f5f5f;
  --node-highlight-color: #7f6df2;
  --node-blendout-color: #8f8f8f;
  --link-color: #b5b5b5;
  --link-highlight-color: #6657c8;
  --link-blendout-color: #3f3f3f;
  --label-color: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  color: var(--color);
  height: 100vh;
  /*background: linear-gradient(
    200.96deg,
    #fedc2a -29.09%,
    #dd5789 51.77%,
    #7a2c9e 129.35%
  );*/
  font-family: sans-serif;
}

#root {
  display: grid;
  grid-template-rows: var(--title-bar-height) calc(
      100vh - var(--title-bar-height)
    );
}

.titlebar {
  display: grid;
  grid-template-columns:
    var(--main-nav-width) var(--main-nav-width) var(--main-nav-width)
    var(--main-nav-width) calc(100vw - calc(4 * var(--main-nav-width)));
  align-items: center;
  -webkit-app-region: drag;
}

.titlebar button {
  background-color: transparent;
  border: none;
}

.titlebar button:hover {
  background-color: #ffffff20;
}

.titlebar div.tab-headers {
  -webkit-app-region: drag;
  display: flex;
  gap: 5px;
}

.titlebar div.tab-header {
  -webkit-app-region: no-drag;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: var(--tab-header-width);
  background-color: #ffffff10;
  border-radius: 5px;
  margin-top: 0px;
  padding: 5px;
}

.titlebar div.tab-header.open {
  padding: 5px 5px 0 5px;
  margin-top: 5px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-weight: 700;
}

.main-content-container {
  display: grid;
  grid-template-columns: var(--main-nav-width) var(--main-menu-width) calc(
      100vw - var(--main-nav-width) - var(--main-menu-width)
    );
}
